@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');



body {
    background-color: #fff;
    height: 100vh;
    color: #3d4a57;
    font-family: 'Kumbh Sans', sans-serif;
}

.btn .add-btn {
    background-color: #245024d5;
}

/* Stile per la modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 20% auto;
    padding: 20px;
    width: 50%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.close {
    float: right;
    cursor: pointer;
}

/* Stile per il pulsante nel Web Component */
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

add-btn {
    position: fixed;
    top: 0;
    right: 0;
    border: 0;
}